<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">
<suite name="Suite">
  <test thread-count="5" name="Test">
    <classes>
      <class name="york.idenciaTestcase.TCSigninTest_001"/>
      <class name="york.idenciaTestcase.TC_SigninTest_001"/>
    </classes>
  </test> <!-- Test -->
</suite> <!-- Suite -->
